* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#wrap{
    display: none;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 15px;
    background-color: rgba(1, 1, 1, 0.725);
    z-index: 100;
    overflow: auto;
}

.mainContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:silver;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;;
}
.header__title{
    text-align: center;
}

.selectContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selectBlock{
    padding:10px;
    margin: 10px;
    border-radius: 5px;
}

.userList{
    margin: 120px 150px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.itemLink{
text-decoration: none;
}
.listItem{
    border: 1px solid silver;
    border-radius: 5%;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background: silver;
}
.listItem:hover{
    background:white;
    border: 1px solid silver;
}

.listItem__picture{
    background-size: contain;
    width: 100px;
    height: 100px;;
}

.listItem__title{
    font-family: Arial,sans-serif;
}

.listItem__fName{
    font-family: Arial,sans-serif;
    margin: 5px 0 0 5px;
    font-weight: 700;
}

.listItem__lName{
    font-family: Arial,sans-serif;
    margin: 0 0 0 5px;
    font-weight: 700;
}

.userCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 4px solid silver;
    border-radius: 5%;
    width:35%;
    margin: 10px auto;
	background: #fff;
	z-index: 200;
	position: fixed;
    padding: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cardBlock{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}
.cardBlock_clear{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.cardBlock__value{
    margin: 5px 10px 5px 5px;
}
.cardBlock__caption{
    color: dimgray;
    margin-right: 10px;
}